<head>
    <link rel="stylesheet" href="static/styles.css">
    <title>Resource Pack Preview Generator</title>
    <meta name="description" content="Generate a preview image of Minecraft resources.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
</head>

<body>
<div class="container">
    <h1>Resource Pack Preview Generator</h1>

    <div class="buttons">
        <button onclick="window.location.href='./?page=recipes';">Recipes</button>
        <button onclick="window.location.href='./?page=atlas';">Atlas</button>
        <button onclick="window.location.href='./?page=item';">Item</button>
    </div>

    <br>

    <div class="settings-grid">
        <div>
            <label for="resolution">Resolution</label>
            <select id="resolution">
                <option value="16">16x</option>
                <option value="32" selected="selected">32x</option>
                <option value="48">48x</option>
                <option value="64">64x</option>
                <option value="96">96x</option>
                <option value="128">128x</option>
            </select>
        </div>

        <div>
            <label for="background-style">Background Style</label>
            <select id="background-style">
                <option value="fancy">Fancy</option>
                <option value="simple">Simple</option>
                <option value="none">None</option>
            </select>
        </div>

        <div>
            <label for="row-size">Row Width</label>
            <select id="row-size">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6" selected="selected">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </div>

        <div>
            <label for="version">Minecraft Version</label>
            <select id="version">
                <option value="1.20.1">1.20.1</option>
            </select>
        </div>
    </div>

    <label for="resource-locations">Resource Locations</label>
    <textarea id="resource-locations" placeholder="minecraft:iron_ingot"></textarea>

    <label for="dependencies">Dependencies</label>
    <textarea id="dependencies" placeholder="https://github.com/Luke100000/ImmersiveAircraft"></textarea>

    <br>

    <div>
        <label for="output-format">Output Format</label>
        <select id="output-format">
            <option value="markdown">Markdown</option>
            <option value="bbcode">BBCode</option>
            <option value="raw-url">Raw URL</option>
            <option value="html">HTML</option>
        </select>
    </div>

    <textarea id="code" readonly rows="3"></textarea>
    <label for="code"></label>

    <img id="preview" src="" alt="Generated Preview" hidden="hidden">

    <footer>
        Not an official Minecraft service. Not approved by or associated with Mojang or Microsoft.
    </footer>
</div>

<script>
    document.querySelectorAll('select, textarea, input').forEach(element => {
        element.addEventListener('change', updatePreview);
    });

    function updatePreview() {
        const version = document.getElementById('version').value;
        const resourceLocations = encodeURIComponent(document.getElementById('resource-locations').value.replace("\n", ";"));
        const dependencies = encodeURIComponent(document.getElementById('dependencies').value.replace("\n", ";"));
        const resolution = document.getElementById('resolution').value;
        const bgStyle = document.getElementById('background-style').value;
        const rowSize = document.getElementById('row-size').value;

        const url = `${window.location.origin}${window.location.pathname.replace(/\/[^/]*$/, '/')}atlas?minecraft_version=${version}&locations=${resourceLocations}&dependencies=${dependencies}&resolution=${resolution}&background=${bgStyle}&row_size=${rowSize}`;

        const format = document.getElementById('output-format').value;
        if (format === "markdown") {
            document.getElementById('code').innerHTML = `![Atlas](${url})`;
        } else if (format === "bbcode") {
            document.getElementById('code').innerHTML = `[img]${url}[/img]`;
        } else if (format === "raw-url") {
            document.getElementById('code').innerHTML = url;
        } else if (format === "html") {
            document.getElementById('code').innerHTML = `<img src="${url}" alt="Atlas">`;
        }
        document.getElementById('preview').src = url;
        document.getElementById('preview').hidden = false;
    }
</script>
</body>