<head>
    <link rel="stylesheet" href="static/styles.css">
    <title>Resource Pack Preview Generator</title>
    <meta name="description" content="Generate a preview image of Minecraft resources.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
</head>

<body>
<div class="container">
    <h1>Resource Pack Preview Generator</h1>

    <div class="buttons">
        <button onclick="window.location.href='./?page=recipes';">Recipes</button>
        <button onclick="window.location.href='./?page=atlas';">Atlas</button>
        <button onclick="window.location.href='./?page=item';">Item</button>
    </div>

<br>

<div class="settings-grid">
    <div>
        <label for="resolution">Resolution</label>
        <select id="resolution">
            <option value="16">16x</option>
            <option value="32">32x</option>
            <option value="48">48x</option>
            <option value="64" selected="selected">64x</option>
            <option value="96">96x</option>
            <option value="128">128x</option>
            <option value="256">256x</option>
        </select>
    </div>

    <div>
        <label for="version">Minecraft Version</label>
        <select id="version">
            <option value="1.20.1">1.20.1</option>
        </select>
    </div>
</div>

<label for="resource-location">Resource Location</label>
<textarea id="resource-location" placeholder="minecraft:iron_ingot" rows="1"></textarea>

<label for="dependencies">Dependencies</label>
<textarea id="dependencies" placeholder="https://github.com/Luke100000/ImmersiveAircraft"></textarea>

<br>

<div>
    <label for="output-format">Output Format</label>
    <select id="output-format">
        <option value="markdown">Markdown</option>
        <option value="bbcode">BBCode</option>
        <option value="raw-url">Raw URL</option>
        <option value="html">HTML</option>
    </select>
</div>

<textarea id="code" readonly rows="3"></textarea>
<label for="code"></label>

<img id="preview" src="" alt="Generated Preview" hidden="hidden">

<footer>
    Not an official Minecraft service. Not approved by or associated with Mojang or Microsoft.
</footer>
</div>

<script>
    document.querySelectorAll('select, textarea, input').forEach(element => {
        element.addEventListener('change', updatePreview);
    });

    function updatePreview() {
        const version = document.getElementById('version').value;
        const resourceLocations = encodeURIComponent(document.getElementById('resource-locations').value.replace("\n", ";"));
        const dependencies = encodeURIComponent(document.getElementById('dependencies').value.replace("\n", ";"));
        const resolution = document.getElementById('resolution').value;

        const url = `${window.location.origin}${window.location.pathname.replace(/\/[^/]*$/, '/')}item?minecraft_version=${version}&location=${resourceLocation}&dependencies=${dependencies}&resolution=${resolution}`;

        const format = document.getElementById('output-format').value;
        if (format === "markdown") {
            document.getElementById('code').innerHTML = `![Item](${url})`;
        } else if (format === "bbcode") {
            document.getElementById('code').innerHTML = `[img]${url}[/img]`;
        } else if (format === "raw-url") {
            document.getElementById('code').innerHTML = url;
        } else if (format === "html") {
            document.getElementById('code').innerHTML = `<img src="${url}" alt="Item">`;
        }
        document.getElementById('preview').src = url;
        document.getElementById('preview').hidden = false;
    }
</script>
</body>